<!--header-->
<div content-for="title">
	<a ng-href="#/">Carousel Test</a>
</div>
<div content-for="leftNavBtn">
	<a href="" class="icon-back" ng-back></a>
</div>
<div content-for="rightNavBtn">

</div>
<!--content-->
<div class="container" ng-controller="CarouselTestCtrl">
	<div id="carousel-example" class="carousel">
		<div class="carousel-inner">
			<div href="" class="item active" carousel-example-item>
				<img src="res/img/thumbnail/thumb-01.jpg" style="width: 100%;"/>
			</div>
			<div href="" class="item" carousel-example-item>
				<img src="res/img/thumbnail/thumb-02.jpg" style="width: 100%;"/>
			</div>
			<div href="" class="item" carousel-example-item>
				<img src="res/img/thumbnail/thumb-01.jpg" style="width: 100%;"/>
			</div>
		</div>
	</div>
</div>
