<div class="layer-popup list-popup scrollable" overlay="option" toggleable>
	<div class="layer-area list_option scrollable-content">
		<ul class="option-list">
			<li class="title">옵션목록</li>
			<li><a href="" class="check">싱크대</a></li>
			<li><a href="" class="check">에어컨</a></li>
			<li><a href="" class="check">냉장고</a></li>
			<li><a href="" class="check">세탁기</a></li>
			<li><a href="" class="check">가스레인지</a></li>
			<li><a href="" class="check">인덕션</a></li>
			<li><a href="" class="check">전자레인지</a></li>
			<li><a href="" class="check">책상</a></li>
			<li><a href="" class="check">책장</a></li>
			<li><a href="" class="check">침대</a></li>
			<li><a href="" class="check">옷장</a></li>
			<li><a href="" class="check">신발장</a></li>
			<li class="button" toggle="off" bubble target="option">
				<a href="" class="btn">초기화</a>
				<a href="" class="btn close">확인</a>
			</li>
		</ul>
	</div>
</div>

<div class="layer-popup list-popup scrollable" overlay="fee" toggleable>
	<div class="layer-area list_fee scrollable-content">
		<ul class="option-list">
			<li class="title">관리비 포함내역</li>
			<li><a href="" class="check">전기세</a></li>
			<li><a href="" class="check">가스</a></li>
			<li><a href="" class="check">수도</a></li>
			<li><a href="" class="check">인터넷</a></li>
			<li><a href="" class="check">TV</a></li>
			<li class="button" toggle="off" bubble target="fee">
				<a href="" class="btn">초기화</a>
				<a href="" class="btn close">확인</a>
			</li>
		</ul>
	</div>
</div>
